<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tm.cgv.bbs.BbsDAO">
	<sql id="search">
		like '%' || #{search} || '%'	
	</sql>

	<insert id="bbsWrite" parameterType="com.tm.cgv.bbs.BbsDTO">
		insert into bbs values (bbs_seq.nextVal,#{title},sysdate,0,#{contents},#{id})
	</insert>

	<delete id="bbsDelete" parameterType="java.lang.Integer">
		delete from bbs where no = #{no}
	</delete>
	
	<update id="countUpdate" parameterType="java.lang.Integer">
		update bbs set count = count+1 where no = #{no}
	</update>
	
	<update id="bbsUpdate" parameterType="com.tm.cgv.bbs.BbsDTO">
		update bbs set title = #{title}, contents = #{contents} where no = #{no}
	</update>
	
	<select id="bbsSelect" parameterType="java.lang.Integer" resultType="com.tm.cgv.bbs.BbsDTO">
		select * from bbs where no = #{no}
	</select>
	
	<select id="bbsList" parameterType="com.tm.cgv.board.page.BoardPager" resultType="com.tm.cgv.bbs.BbsDTO">
		select * from 
			(select N.*, rownum R from 
				(select * from bbs where 
				
				<choose>
					<when test="kind == 'sTitle'">
						title
					</when>
					<otherwise>
						contents 
					</otherwise>
				</choose>
				
				<include refid="search"></include>  order by no desc)N) 
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="bbsCount" parameterType="com.tm.cgv.board.page.BoardPager" resultType="java.lang.Long">
		select count(id) from bbs 
				
				<where>
					<if test="kind == 'sTitle'">
						title <include refid="search"></include>
					</if>
					<if test="kind == 'sContents'">
						contents <include refid="search"></include>
					</if>
					
				</where>
	</select>
	
	
</mapper>