<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.tm.cgv.movie.MovieDAO">
 	
 	
 	<select id="movieNumCount" resultType="Long">
 		select count(mNum) from movieinfo
 	</select>
 
 	<select id="movieList" parameterType="Pager" resultType="MovieDTO">
 		select * from 
 		(select N.*, rownum R from
 		(select * from movieInfo order by
 			<choose>
 				<when test="kind == 'date'">
 					openDate desc,rate desc
 				</when>
 				<when test="kind == 'title'">
 					title asc
 				</when>
				<otherwise>
					rate desc
				</otherwise>
 			</choose>
 		)N)
 		where R between #{startRow} and #{lastRow}
 			
 	</select>
 	
 	<select id="movieListAll" parameterType="MovieDTO" resultType="MovieDTO">
 		select * from movieinfo ORDER by 
 			<choose>
 				<when test="kind == 'title'">
 					title asc
 				</when>
 				<otherwise>
 					rate desc
 				</otherwise>
 			</choose>
 	 	</select>
 
 </mapper>